/* Base */
/* .... */
/* .... */

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Raleway-Regular;
	font-size: 62.5%; /* Base 10px */
}

img {
	width: 100%;
}

h2 {
	font-size: 1.8em;
}

a:link {
    text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/* ........................................ */
/* MOBILE VERSION - Mobile first */
/* ............................. */
/* ............................. */

/* MENU */
/* .... */
.menu-container {
	z-index: 4;
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	background-color: #373737;
	color: #ffda2a;
}

.menu-icon {
	margin-right: 10px;
	cursor: pointer;
}

.menu-text {
	color: #ffda2a;
}

.menu-button {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ffda2a;
	color: #171717;
	font-weight: 700;
	font-size: 0.8em;
	cursor: pointer;
}

.caret-icon {
	margin-right: 30px;
	margin-left: 10px;
	cursor: pointer;
}

.menu-window {
	z-index: 5;
	position: fixed;
	top: 45px;
	opacity: 0;
	width: 0%;
	height: 100%;
	background-color: #373737;
	border-top: 1px solid #bfbcbc;
	transition: 0.5s;
	overflow: hidden;
}

.menu-tab-front-container {
	margin-top: 20px;
}

.menu-tab-front {
	min-width: 300px;
	list-style: none;
	border-top: 1px solid #72777c;
	color: white;
	font-size: 2em;
	overflow: hidden;
}

.menu-user-front {
	margin: 20px;
	color: #ffda2a;
	border: none;
}

.menu-disconnection-front {
	margin-top: 40px;
}

.menu-link-front {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.menu-window-tab {
	z-index: 5;
	position: fixed;
	top: 45px;
	right: 0;
	opacity: 0;
	min-width: 150px;
	height: 0px;
	background-color: #373737;
	border-top: 1px solid #bfbcbc;
	transition: 0.5s;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.menu-window-tab-link {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	font-size: 1.3em;
	cursor: pointer;
	border-bottom: 1px solid #202020;
}

.button-icon-container {
	width: 100%;
}

.button-icon {
	margin-top: 20px;
	font-size: 3em;
	color: white;
	cursor: pointer;
}

/* HOME PAGE */
/* ......... */

/* Hero */
.hero {
	/* display: flex; */
	position: relative;
	padding-top: 45px;
	overflow: hidden;
}

.hero-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(56, 66, 73, 0.2);
	transition: 1s;
}

.hero-title {
	opacity: 0;
	padding-top: 20%;
	margin-bottom: 10%;
	width: 100%;
	color:white;
	font-size: 2.3em;
	transition: 2s;
}

.hero-button-primary {
	height: 200px;
	background-color: white;
}

.hero-button-secondary {
	margin-left: 100px;
	transition: 1s;
}

.hero-slide {
	transition: 2s;
}

.hero-circle-container {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15px;
}

/* Home information */
.home-information {
	background-color: #171717;
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.home-information-text {
	margin: 20px;
}

/* Playlist */
.playlist-container {
	padding-bottom: 50px;
	background-color: #171717;
	text-align: center;
	color: white;
	font-size: 1.5em;
}

/* - Main player-  */
.main-player-container {
	position: fixed;
	bottom: 0;
    left: 0;
    right: 0;
}

.sliding-block {
	float: right;
	padding: 5px;
	min-width: 0%; /* modify -> JS (SlidingBlock.js) */
	text-align: center;
	border-top-left-radius: 5px;
	color: #2d2d2d;
	background-color: #ffda2a;
	cursor: pointer;
	transition: 0.5s;
}

.display-player {
	font-size: 1.1em;
    font-weight: bold;
}

.hide-player {
	display: none;
	padding-right: 10px;
	font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.main-player {
	display: flex;
	opacity: 0;
	align-items: center;
	padding-top: 0px; /* modify -> JS (SlidingBlock.js) */
	padding-bottom: 0px; /* modify -> JS (SlidingBlock.js) */
	width: 100%;
	height: 0px;
	background-color: #2d2d2d;
	overflow: hidden;
	transition: 0.5s;
	 /*box-shadow: 0px -5px 15px #2d2d2d; */
}

.main-player-image {
	margin-left: 22px;
	max-width: 70px;
}

.player-forward-container {
	margin-left: 18px;
	width: 13px;
}

.player-forward-icon {
	max-width: 100%;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.main-player-play-icon {
	max-width: 100%;
	margin-left: 18px;
	color: white;
	cursor: pointer;
}

.main-player-pause-icon {
	display: none;
	margin-left: 18px;
	color: #ffda2a;
	cursor: pointer;
}

.player-backward-container {
	margin-left: 18px;
	width: 13px;
}

.player-backward-icon {
	display: none;
	max-width: 100%;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.main-player-song-name {
	display: none;
	margin-left: 22px;
	color: white;
	font-style: italic;
	font-size: 1.15em;
}

.main-player-mute-container {
	display: none;
	width: 40px;
}

.main-player-mute-icon {
	margin-left: 22px;
	min-width: 15px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.main-player-unmute-icon {
	display: none;
	margin-left: 22px;
	min-width: 15px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.main-player-timer {
	display: none;
	margin-left: 22px;
	color: white;
}

/* Seek bar */
.main-player-seek-bar {
	margin-left: 22px;
	-webkit-appearance: none;
	width: 30%;
	height: 5px;
	outline: none;
	border-radius: 5px;
	background-color: #ffda2a;
	cursor: pointer;
	outline: 0;
}

/* Seek bar circle */
.main-player-seek-bar::-webkit-slider-thumb { /* For chrome */
	-webkit-appearance: none;
	width: 17px;
	height: 17px;
	background-color: white;
	border-radius: 50%;
}

.main-player-seek-bar:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 3px #2d2d2d,
				0 0 0 6px #ffda2a;
}

.main-player-seek-bar::-moz-range-thumb {	/* For mozila */
	width: 12px;
	height: 12px;
	background-color: white;
}

.main-player-seek-bar:active::-moz-range-thumb {
	box-shadow: 0 0 0 3px #2d2d2d,
				0 0 0 6px #ffda2a;
}

.main-player-favorite {
	display: none;
	margin-left: 22px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.main-player-download {
	display: none;
	margin-left: 22px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

/* - Secondary player - */
.music-title {
	display:flex;
	justify-content: center;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ffda2a;
	color: #2d2d2d; 
	font-weight: bold;
}

.music-title-text {
	margin-left: 5px;
	margin-right: 5px;
}

/* Player */
.player {
	display: flex;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 22px;
	width: auto;
	height: 60px;
	background-color: #2d2d2d;
	border-bottom: 1px solid #4C4C4C;
}

.player-image {
	margin-left: 22px;
	max-width: 70px;
}

.player-container-play {
	height: 100%;
	background-color: orange;
}

#control-containeur {
	float: left;
	height: 100%;
	background-color: orange;
}

.player-play-icon {
	max-width: 100%;
	margin-left: 22px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.player-pause-icon {
	display: none;
	margin-left: 22px;
	color: #ffda2a;
	cursor: pointer;
	font-size: 1.3em;
}

.player-song-name {
	margin-left: 22px;
	min-width: 100px;
	color: white;
	font-style: italic;
	font-size: 1.15em;
}

.player-mute-icon {
	display: none;
	margin-left: 22px;
	min-width: 15px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.player-unmute-icon {
	display: none;
	margin-left: 22px;
	min-width: 15px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.player-timer {
	display: none;
	margin-left: 22px;
	color: white;
}

/* Seek bar */
.player-seek-bar {
	display: none;
	margin-left: 10px;
	-webkit-appearance: none;
	height: 3px;
	outline: none;
	border-radius: 5px;
	background-color: #ffda2a;
	cursor: pointer;
}

/* Seek bar circle */
.player-seek-bar::-webkit-slider-thumb { /* For chrome */
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 50%;
}

.player-seek-bar:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 3px #2d2d2d,
				0 0 0 6px #ffda2a;
}

.player-seek-bar::-moz-range-thumb {	/* For mozila */
	width: 12px;
	height: 12px;
	background-color: white;
}

.player-seek-bar:active::-moz-range-thumb {
	box-shadow: 0 0 0 3px #2d2d2d,
				0 0 0 6px #ffda2a;
}

.player-favorite {
	display: none;
	margin-left: 22px;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
}

.player-download {
	margin-left: auto;
	margin-right: 22px;
	color: white;
	cursor: pointer;
	font-size: 1.em;
}


/* PRICING PAGE */
/* ............ */

.pricing-info-free-container {
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 0;
	background-color: #171717;
	color: white;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.pricing-info-free-button {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: right;
}

.pricing-info-free-button-icon {
	margin-right: 20px;
	font-size: 2em;
}

.pricing-info-free-title {
	margin-top: 30px;
	font-size: 2em;
}

.pricing-info-free-icon {
	margin-top: 10px;
	font-size: 3em;
}

.pricing-info-free-text {
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.8em;
	text-align: left;
}

.pricing-info-free-paypal {
	display: inline-block;
	margin-top: 30px;
}

.pricing-info-premium-container {
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 0;
	background-color: #171717;
	color: white;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.pricing-info-premium-button {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: right;
}

.pricing-info-premium-button-icon {
	margin-right: 20px;
	font-size: 2em;
}

.pricing-info-premium-title {
	margin-top: 30px;
	font-size: 2em;
}

.pricing-info-premium-icon {
	margin-top: 10px;
	font-size: 3em;
}

.pricing-info-premium-text {
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.8em;
	text-align: left;
}

.pricing-info-premium-paypal {
	display: inline-block;
	margin-top: 30px;
}

.pricing {
	margin: 20px;
	width: 200px;
	height: 300px;
	background-color: #373737;
	border-radius: 9px;
	color: white;
	text-align: center;
}

.pricing-bottom-space {
	margin-bottom: 50px;
}

.pricing-title {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2d2d2d;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	font-size: 1.8em;
}

.pricing-icon {
	margin-top: 30px;
	font-size: 3em;
}

.pricing-description {
	margin-top: 40px;
	font-size: 1.4em;
}

.pricing-price {
	margin-top: 10px;
	font-size: 2.5em;
}

.pricing-button {
	display: inline-block;
	margin-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: #ffda2a;
	color: #373737;
	border-radius: 40px;
	font-size: 1.5em;
	cursor: pointer;
	transition: 0.2s;
}


/* REGISTRATION */
/* ............ */

.registration-details {
	margin: 20px;
	color: white;
}

.registration-details-icon {
	font-size: 3em;
}

.registration-details-title {
	display: inline-block;
	margin: 20px;
	padding-top: 20px;
	border-top: 1px solid white;
}

.registration-details-text {
	margin: 20px;
	font-size: 1.4em;
}

.registration-account-message {
	margin: 20px;
	margin-bottom: 0;
	width: 100%;
	color: red;
	font-size: 1.4em;
}

.registration-container {
	margin: 20px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 80%;
	background-color: #373737;
	border-radius: 9px;
	color: white;
	font-size: 1.8em;
}

.registration-center-container {
	width: 100%;
}

.registration-info {
	padding-bottom: 10px;
	font-size: 0.8em;
}

.registration-text-mandatory {
	color: red;
}

.registration-text {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 20px;
	font-weight: bold;
}

.registration-text-modification {
	height: 60px;
}

.registration-text-detail {
	display: block;
	margin-top: 3px;
	font-size: 0.63em;
}

.registration-eye-icon-container {
	width: 100%;
}

.registration-input {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	width: 100%;
	border-radius: 5px;
}

.registration-input-button {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}


/* LOGIN */
/* ...... */

.login-container {
	min-height: 100vh;
	background-color: black;
}

.login-center-container {
	width: 100%;
}

.login-error-message {
	color: red;
	font-size: 0.8em;
}

.login-form {
	margin: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 80%;
	background-color: #373737;
	border-radius: 9px;
	color: white;
	font-size: 1.8em;
}

.login-text {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

.login-input {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	width: 100%;
	border-radius: 5px;
}

.login-eye-icon-container {
	width: 100%;
}

.login-link {
	font-size: 0.8em;
}

.login-color-text {
	color: #ddbe25;
}

.login-input-button {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}


/* ACCOUNT */
/* ....... */

.account-container {
	padding-top: 60px;
	min-height: 100vh;
	background-color: black;
}

.account-main-icon {
	margin-top: 30px;
	font-size: 3em;
}

.account-design-element{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 70px;
    border-top: 1px solid white;
}

.account-information-errorMessage {
	margin-top: 10px;
	font-size: 1.5em;
	color: red;
}

.account-information-button {
	display: inline-block;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: greenyellow;
	color: black;
	border-radius: 40px;
	font-size: 1em;
	cursor: pointer;
	transition: 0.2s;
}

.account-information-successMessage {
	margin-top: 10px;
	font-size: 1.5em;
	color: greenyellow;
}

.account-information-name {
	display: inline-block;
	min-width: 70px;
}

.account-information-firstname {
	display: inline-block;
	margin-top: 10px;
	min-width: 70px;
}

.account-information-email {
	display: inline-block;
	margin-top: 10px;
	min-width: 70px;
}

.account-information-input {
	padding: 3px;
	width: 150px;
	background-color: white;
	border-radius: 5px;
}

.account-password-container {
	margin-top: 40px;
}

.account-password-errorMessage {
	margin-top: 10px;
	font-size: 1.2em;
	color: red;
}

.account-password-successMessage {
	margin-top: 10px;
	font-size: 1.2em;
	color: greenyellow;
}

.account-password-old {
	display: inline-block;
	min-width: 70px;
}

.account-password-new {
	display: inline-block;
	margin-top: 10px;
	min-width: 70px;
}

.account-password-text {
	margin: auto;
	margin-top: 5px;
	width: 230px;
}

.account-disconnection-container {
	margin-top: 40px;
}


/* UPLOAD MUSIC PAGE */
/* ................. */

.upload-container {
	min-height: 100vh;
	padding-top: 60px;
	background-color: black;
}

.upload-main-icon {
	margin-top: 30px;
	font-size: 3em;
}

.upload-design-element{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 70px;
    border-top: 1px solid white;
}

.upload-information-errorMessage {
	display: block;
	margin-top: 10px;
	font-size: 1.5em;
	color: red;
}

.upload-information-successMessage {
	margin-top: 10px;
	font-size: 1.5em;
	color: greenyellow;
}

.upload-information-button {
	display: inline-block;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: greenyellow;
	color: black;
	border-radius: 40px;
	font-size: 1em;
	cursor: pointer;
	transition: 0.2s;
}

.upload-information-music {
	display: inline-block;
	min-width: 70px;
}

.upload-information-artist {
	display: inline-block;
	margin-top: 10px;
	min-width: 70px;
}

.account-information-file {
	display: inline-block;
	margin-top: 10px;
	min-width: 70px;
}

.upload-information-input {
	padding: 3px;
	width: 150px;
	background-color: white;
	border-radius: 5px;
}

.upload-information-input-file {
	width: 150px;
	background-color: #373737;
	border-radius: 5px;
	cursor: pointer;
}

::-webkit-file-upload-button {
	height: 30px;
	background-color: #ffda2a;
	border: none;
	cursor: pointer;
	outline: none;
}

::-moz-file-upload-button {
	height: 30px;
	background-color: #ffda2a;
	border: none;
	cursor: pointer;
	outline: none;
}

/* ERROR PAGE */
/* .......... */

.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-text {
	margin-bottom: 30px;
	height: 20px;
	font-size: 1.3em;
}


/* FOOTER */
/* ...... */

.main-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #373737;
	color: white;
}

.footer-logo-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-logo {
	width: auto;
	height: 70px;
}

.footer-about-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-about {
	margin-bottom: 10px;
}

.footer-contact-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-contact {
	margin-bottom: 10px;
}

.footer-information-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-information {
	margin-bottom: 10px;
}

.footer-sitemap-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-sitemap {
	margin-bottom: 10px;
}

.footer-payement-container {
	margin-left: 22px;
	margin-right: 22px;
}

.footer-payement {
	margin-bottom: 10px;
}

.footer-paypal-img {
	max-width: 200px;
}


/* LOG BACKOFFICE */
/* .............. */

.backoffice-connexion-background {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
}

.backoffice-connexion-container {	
	max-width: 400px;
	height: 100vh;
	font-size: 2.5em;
}

.backoffice-connexion-image {
	margin: auto;
	margin-top: 40px;
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 35px;
}

.backoffice-connexion-form {
	padding-top: 35px;
	padding-bottom: 50px;
	font-size: 0.7em;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.backoffice-connexion-paragraph {
	margin-left: 24px;
	margin-bottom: 3px;
	width: 85%;
	text-align: left;
	color: #72777c;
}

.backoffice-connexion-input {
	margin-left: 24px;
	margin-bottom: 20px;
	width: 85%;
	font-size: 2em;
	background-color: #fbfbfb;
	border: none;
	border: 1px solid #dddddd;
	box-shadow: 0px 2px 5px #d4d4d4;
}

.backoffice-connexion-container-submit {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 24px;
	width: 85%;
	text-align: center;
}

.backoffice-connexion-error {
	text-align: center;
	color: #d50a0a;
}


/* BACKOFFICE */
/* .......... */

.backoffice-button-icon-container {
	width: 100%;
}

.backoffice-button-icon {
	margin-top: 20px;
	font-size: 3em;
	color: white;
	cursor: pointer;
}

.backoffice-menu-tab-container {
	margin-top: 20px;
}

.backoffice-menu-tab {
	min-width: 300px;
	list-style: none;
	border-top: 1px solid #72777c;
	color: white;
	font-size: 2em;
	overflow: hidden;
}

.backoffice-menu-user {
	margin: 20px;
	color: #ffda2a;
	border: none;
}

.backoffice-menu-disconnection {
	margin-top: 40px;
}

.backoffice-menu-link {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}


/* BACKOFFICE COMPTE */
/* ................. */

.backoffice-compte-container {
	padding-top: 50px;
	min-height: 100vh;
	color: white;
	background-color: black;
}

.backoffice-compte-icon-compte {
	margin-bottom: 40px;
	width: 100%;
	font-size: 3em;
}

.backoffice-compte-icon-arrow {
	margin-bottom: 20px;
	font-size: 2em;
}

.backoffice-compte-bar-title {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffda2a;
	border-bottom: 1px solid white;
	color: #373737;
}

.backoffice-compte-bar-data {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #373737;
	border-top: 1px solid white;
	font-size: 0.8em;
}

.backoffice-compte-button {
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	border-radius: 5px;
	background-color: white;
	color: #373737;
}


/* BACKOFFICE INFO*/
/* .............. */

.backoffice-compte-container-info {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 100vh;
	color: white;
	background-color: black;
}

.backoffice-compte-icon-compte-info {
	margin-bottom: 40px;
	width: 100%;
	font-size: 3em;
}

.backoffice-compte-icon-arrow-info {
	margin-bottom: 20px;
	font-size: 2em;
}

.backoffice-compte-errorMessage {
	font-size: 1.2em;
	color: red;
}

.backoffice-compte-successMessage {
	font-size: 1.2em;
	color: greenyellow;
}

.backoffice-compte-bar-data-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #373737;
	font-size: 1.3em;
}

.backoffice-compte-user-info {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	border-top: 1px solid #72777c;
}

.backoffice-compte-user-info-custom {
	border-bottom: 1px solid #72777c;
}

.backoffice-compte-info-container-button {
	margin-top: 20px;
}

.backoffice-compte-info-button {
	margin-bottom: 20px;
}

.backoffice-compte-info-label {
	display: inline-block;
	min-width: 70px;
}

.backoffice-compte-info-input {
	padding: 3px;
	width: 150px;
	background-color: white;
	border-radius: 5px;
}


/* State (state elements) */
/* ...................... */
/* ...................... */

/* Menu */
.menu-icon:hover {
	color: #ffda2a;
}

.menu-button:hover {
	background-color: #bfbcbc;
	color: #171717;
}

.caret-icon:hover {
	color: #ffda2a;
}

.menu-window-tab-link:hover {
	background-color: #ffda2a;
	color: #373737;
}

/* Home */

/* - Secondary player - */
.player-mute-icon:hover {
	color: #ffda2a;
}

.player-unmute-icon:hover {
	color: #ffda2a;
}

.player-play-icon:hover {
	color: #ffda2a;
}

.player-pause-icon:hover {
	color: #ffda2a;
}

.player-favorite:hover {
	color: #ffda2a;
}

.player-download:hover {
	color: #ffda2a;
}

/* - Main player - */
.player-backward-icon:hover {
	color: #ffda2a;
}

.main-player-play-icon:hover {
	color: #ffda2a;
}

.main-player-pause-icon:hover {
	color: #ffda2a;
}

.player-forward-icon:hover {
	color: #ffda2a;
}

.main-player-mute-icon:hover {
	color: #ffda2a;
}

.main-player-unmute-icon:hover {
	color: #ffda2a;
}

/* Pricing */
.pricing-button:hover {
	background-color: #ddbe25;
}

/* Factored elements */
.light-button-fact:hover {
	background-color: #d8d8d8;
	color: #373737;
}

.default-button-fact:hover {
	background-color: #ffda2a;
	color: #373737;
}


/* Factored */
/* ........ */
/* ........ */

.display-block-fact {
	display: block;
}

.display-none-fact {
	display: none;
}

.opacity-zero-fact {
	opacity: 0;
}

.padding-top-fact {
	padding-top: 40px;
}

.padding-bottom-fact {
	padding-bottom: 40px;
}

.font-size-default-fact {
	font-size: 1.8em;
}

.font-size-secondary-fact {
	font-size: 1.4em;
}

.color-primary-fact {
	color: white;
}

.color-secondary-fact {
	color: #ffda2a;
}

.color-tertiary-fact {
	color: #bfbcbc;
}

.color-quaternary-fact {
	color: #373737;
}

.default-button-fact {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: #373737;
	color: white;
	border-radius: 40px;
	font-size: 1.5em;
	cursor: pointer;
}  

.light-button-fact {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: white;
	color: #373737;
	border-radius: 40px;
	font-size: 15px;
	cursor: pointer;
}

.margin-top-fact {
	margin-top: 20px;
}

.margin-left-fact {
	margin-left: 20px;
}

.margin-right-fact {
	margin-right: 20px;
}

.margin-bottom-fact {
	margin-bottom: 5px;
}

.font-weight-bold-fact {
	font-weight: bold;
}
 
.text-align-right-fact {
	text-align: right;
}

.text-align-left-fact {
	text-align: left;
}

.text-align-center-fact {
	text-align: center;
}

.page-container-fact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	background-color: #171717;
}

.page-main-title-fact {
	padding-top: 50px;
	width: 100%;
	text-align: center;
}

.eye-icon-fact {
	cursor: pointer;
}

.eye-icon-crossed-fact {
	display: none;
	cursor: pointer;
}

.cursor-pointer-fact {
	cursor: pointer;
}
/* ........................................ */


/* TABLET VERSION */
/* .............. */
/* .............. */

@media screen and (min-width: 768px) and (max-width: 1279px) {
	/* Main player */
	.main-player-song-name {
		display: inline-block;
		font-size: 1.5em;
	}

	.main-player-mute-container {
		display: inline-block;
	}

	.main-player-mute-icon {
		font-size: 1.5em;
	}

	.main-player-unmute-icon {
		font-size: 1.5em;
	}

	.main-player-timer {
		display: inline-block;
		font-size: 1.5em;
	}

	/* Seek bar */
	.main-player-seek-bar {
		height: 4px;
	}

	/* Seek bar circle */
	.main-player-seek-bar::-webkit-slider-thumb { /* For chrome */
		width: 15px;
		height: 15px;
	}

	/* Secondary player */
	/* ................ */
	.player-mute-icon {
		display: inline-block;
	}

	.player-unmute-icon {
		display: none;
		margin-left: 22px;
		min-width: 15px;
		color: white;
		cursor: pointer;
		font-size: 1.3em;
	}

	.player-timer {
		display: inline-block;
	}

	/* Seek bar */
	.player-seek-bar {
		display: inline-block;
	}

	/* State (state elements) */
	/* ...................... */
	/* ...................... */

	.sliding-block:hover {
		background-color: #F1D4A1;
	}

	/* Factored */
	/* ........ */
	/* ........ */
}
/* ........................................ */


/* DESKTOP VERSION */
/* ............... */
/* ............... */

@media screen and (min-width: 1280px) {
	/* Main player */
	.main-player-song-name {
		display: inline-block;
	}

	.main-player-mute-container {
		display: inline-block;
	}

	.main-player-timer {
		display: inline-block;
	}

	.main-player-mute-icon {
		font-size: 1.7em;
	}

	.main-player-unmute-icon {
		font-size: 1.7em;
	}

	/* Seek bar */
	.main-player-seek-bar {
		height: 3.4px;
		width: 50%;
	}

	/* Seek bar circle */
	.main-player-seek-bar::-webkit-slider-thumb { /* For chrome */
		width: 15px;
		height: 15px;
	}


	/* Secondary player */
	/* ................ */
	.player-mute-icon {
		display: inline-block;
	}

	.player-unmute-icon {
		display: none;
		margin-left: 22px;
		min-width: 15px;
		color: white;
		cursor: pointer;
		font-size: 1.3em;
	}

	.player-timer {
		display: inline-block;
	}

	/* Seek bar */
	.player-seek-bar {
		display: inline-block;
		width: 30%;
	}

	/* State (state elements) */
	/* ...................... */
	/* ...................... */

	.sliding-block:hover {
		background-color: #F1D4A1;
	}

	/* Factored */
	/* ........ */
	/* ........ */
}