/* Base */
/* .... */
/* .... */

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Raleway-Regular;
	font-size: 62.5%; /* Base 10px */
}

img {
	width: 100%;
}

h2 {
	font-size: 1.8em;
}

a:link {
    text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/* ........................................ */
/* MOBILE VERSION - Mobile first */
/* ............................. */
/* ............................. */

/* MENU */
/* .... */
.menu-container {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	background-color: #373737;
	color: #ffda2a;
}

.menu-icon {
	margin-right: 10px;
	cursor: pointer;
}

.menu-text {
	color: #ffda2a;
}

.menu-button {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ffda2a;
	color: #171717;
	border-radius: 40px;
	font-weight: 700;
	font-size: 0.8em;
	cursor: pointer;
}

.caret-icon {
	margin-right: 20px;
	cursor: pointer;
}

.menu-window {
	z-index: 2;
	position: fixed;
	top: 36px;
	opacity: 0;
	width: 0%;
	height: 100%;
	background-color: #373737;
	border-top: 1px solid #bfbcbc;
	transition: 0.5s;
	overflow: hidden;
}

.button-icon-container {
	width: 100%;
}

.button-icon {
	margin-top: 20px;
	font-size: 3em;
	color: white;
	cursor: pointer;
}

/* HOME PAGE */
/* ......... */

/* Hero */
.hero {
	position: relative;
	padding-top: 35px;
	overflow: hidden;
}

.hero-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(56, 66, 73, 0.5);
	text-align: center;
}

.hero-text {
	padding-top: 20%;
	margin-bottom: 10%;
	width: 100%;
	color:white;
	font-size: 2.3em;
	
}

.hero-button-primary {
	margin-left: 5%;
	background-color: white;
}

.hero-button-secondary {
	margin-left: 10px;
}

/* - Playlist - */
.playlist-container {
	padding-top: 50px;
	padding-bottom: 50px;;
	background-color: #171717;
	text-align: center;
	color: white;
	font-size: 1.5em;
	border: 1px solid #2d2d2d;
}

/* Player */
.player {
	display: flex;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 22px;
	height: 70px;
	background-color: #2d2d2d;
}

.player-image {
	margin-left: 22px;
	width: auto;
	height: 70px;
}

.player-container-play {
	height: 100%;
	background-color: orange;
}

#control-containeur {
	float: left;
	height: 100%;
	background-color: orange;
}

.player-play-icon {
	margin-left: 22px;
	color: white;
	cursor: pointer;
}

.player-pause-icon {
	display: none;
	margin-left: 22px;
	color: white;
	cursor: pointer;
}

.player-song-name {
	margin-left: 22px;
	color: white;
	font-style: italic;
}

.player-mute-icon {
	margin-left: 22px;
	color: white;
	cursor: pointer;
}

.player-unmute-icon {
	display: none;
	margin-left: 22px;
	color: white;
	cursor: pointer;
}

.player-timer {
	margin-left: 22px;
	color: white;
}

/* Seek bar */
.player-seek-bar {
	margin-left: 10px;
	-webkit-appearance: none;
	height: 3px;
	outline: none;
	border-radius: 5px;
	background-color: #ffda2a;
	cursor: pointer;
}

/* Seek bar circle */
.player-seek-bar::-webkit-slider-thumb { /* For chrome */
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 50%;
}

.player-seek-bar:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 3px #2d2d2d,
				0 0 0 6px #ffda2a;
}

.player-seek-bar::-moz-range-thumb {	/* For mozila */
	width: 12px;
	height: 12px;
	background-color: white;
}

.player-seek-bar:active::-moz-range-thumb {
	box-shadow: 0 0 0 3px #2d2d2d,
				0 0 0 6px #ffda2a;
}

.player-favorite {
	margin-left: 22px;
	color: white;
	cursor: pointer;
}

.player-shopping {
	margin-left: 22px;
	color: white;
	cursor: pointer;
}


/* PRICING PAGE */
/* ............ */

.pricing-info-free-container {
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 0;
	background-color: #171717;
	color: white;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.pricing-info-free-button {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: right;
}

.pricing-info-free-button-icon {
	margin-right: 20px;
	font-size: 2em;
}

.pricing-info-free-title {
	margin-top: 30px;
	font-size: 2em;
}

.pricing-info-free-icon {
	margin-top: 10px;
	font-size: 3em;
}

.pricing-info-free-text {
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.8em;
	text-align: left;
}

.pricing-info-free-paypal {
	display: inline-block;
	margin-top: 30px;
}

.pricing-info-premium-container {
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 0;
	background-color: #171717;
	color: white;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.pricing-info-premium-button {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: right;
}

.pricing-info-premium-button-icon {
	margin-right: 20px;
	font-size: 2em;
}

.pricing-info-premium-title {
	margin-top: 30px;
	font-size: 2em;
}

.pricing-info-premium-icon {
	margin-top: 10px;
	font-size: 3em;
}

.pricing-info-premium-text {
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.8em;
	text-align: left;
}

.pricing-info-premium-paypal {
	display: inline-block;
	margin-top: 30px;
}

.pricing {
	margin: 20px;
	width: 200px;
	height: 300px;
	background-color: #373737;
	border-radius: 9px;
	color: white;
	text-align: center;
}

.pricing-title {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2d2d2d;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	font-size: 1.8em;
}

.pricing-icon {
	margin-top: 30px;
	font-size: 3em;
}

.pricing-description {
	margin-top: 40px;
	font-size: 1.4em;
}

.pricing-price {
	margin-top: 10px;
	font-size: 2.5em;
}

.pricing-button {
	display: inline-block;
	margin-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: #ffda2a;
	color: #373737;
	border-radius: 40px;
	font-size: 1.5em;
	cursor: pointer;
	transition: 0.2s;
}


/* REGISTRATION */
/* ............ */

.registration-details {
	margin: 20px;
	color: white;
}

.registration-details-icon {
	font-size: 3em;
}

.registration-details-title {
	display: inline-block;
	margin: 20px;
	padding-top: 20px;
	border-top: 1px solid white;
}

.registration-details-text {
	margin: 20px;
	font-size: 1.4em;
}

.registration-account-message {
	margin: 20px;
	margin-bottom: 0;
	width: 100%;
	color: red;
	font-size: 1.4em;
}

.registration-container {
	margin: 20px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #373737;
	border-radius: 9px;
	color: white;
	font-size: 1.8em;
}

.registration-info {
	margin: 20px;
	padding-bottom: 10px;
	font-size: 0.8em;
}

.registration-text-mandatory {
	color: red;
}

.registration-text {
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	height: 20px;
	font-weight: bold;
}

.registration-text-modification {
	height: 60px;
}

.registration-text-detail {
	display: block;
	margin-top: 3px;
	font-size: 0.7em;
}

.registration-input {
	margin-left: 20px;
	padding: 5px;
	width: 70%;
	border-radius: 5px;
}

.registration-input-button {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

.eye-icon {
	cursor: pointer;
}

.eye-icon-crossed {
	display: none;
	cursor: pointer;
}


/* FOOTER */
/* ...... */

.main-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #373737;
	color: white;
}

.footer-logo-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-logo {
	width: auto;
	height: 70px;
}

.footer-about-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-about {
	margin-bottom: 10px;
}

.footer-contact-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-contact {
	margin-bottom: 10px;
}

.footer-information-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-information {
	margin-bottom: 10px;
}

.footer-sitemap-container {
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.footer-sitemap {
	margin-bottom: 10px;
}

.footer-payement-container {
	margin-left: 22px;
	margin-right: 22px;
}

.footer-payement {
	margin-bottom: 10px;
}


/* LOG BACKOFFICE */
/* .............. */

.backoffice-connexion-background {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
}

.backoffice-connexion-container {	
	max-width: 400px;
	height: 100vh;
	font-size: 2.5em;
}

.backoffice-connexion-image {
	margin: auto;
	margin-top: 10%;
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 35px;
}

.backoffice-connexion-form {
	padding-top: 35px;
	padding-bottom: 50px;
	font-size: 0.7em;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.backoffice-connexion-paragraph {
	margin-left: 24px;
	margin-bottom: 3px;
	width: 85%;
	text-align: left;
	color: #72777c;
}

.backoffice-connexion-input {
	margin-left: 24px;
	margin-bottom: 20px;
	width: 85%;
	font-size: 2em;
	background-color: #fbfbfb;
	border: none;
	border: 1px solid #dddddd;
	box-shadow: 0px 2px 5px #d4d4d4;
}

.backoffice-connexion-container-submit {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 24px;
	width: 85%;
	text-align: center;
}

.backoffice-connexion-error {
	text-align: center;
	color: #d50a0a;
}

/* BACKOFFICE */
/* .......... */

.backoffice-menu-name {
	margin-right: 20px;
}

.backoffice-button-icon-container {
	width: 100%;
}

.backoffice-button-icon {
	margin-top: 20px;
	font-size: 3em;
	color: white;
	cursor: pointer;
}

.backoffice-menu-tab-container {
	margin-top: 20px;
}

.backoffice-menu-tab {
	min-width: 300px;
	list-style: none;
	border-top: 1px solid #72777c;
	color: white;
	font-size: 2em;
	overflow: hidden;
}

.backoffice-menu-disconnection {
	margin-top: 20px;
}

.backoffice-menu-link {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

/* State (state elements) */
/* ...................... */
/* ...................... */

/* Menu */
.menu-icon:hover {
	color: #ffda2a;
}

.menu-button:hover {
	background-color: #bfbcbc;
	color: #171717;
}

.caret-icon:hover {
	color: #ffda2a;
}

/* Pricing */
.pricing-button:hover {
	background-color: #ddbe25;
}

/* Factored */
.light-button-fact:hover {
	background-color: #d8d8d8;
	color: #373737;
}

.default-button-fact:hover {
	background-color: #ffda2a;
	color: #373737;
}

/* Factored */
/* ........ */
/* ........ */

.font-size-default-fact {
	font-size: 1.8em;
}

.font-size-secondary-fact {
	font-size: 1.4em;
}

.color-primary-fact {
	color: white;
}

.color-secondary-fact {
	color: #ffda2a;
}

.color-tertiary-fact {
	color: #bfbcbc;
}

.default-button-fact {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: #373737;
	color: white;
	border-radius: 40px;
	font-size: 1.5em;
	cursor: pointer;
	transition: 0.2s;
}  

.light-button-fact {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: white;
	color: #373737;
	border-radius: 40px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.2s;
}

.margin-top-fact {
	margin-top: 20px;
}

.margin-left-fact {
	margin-left: 20px;
}

.margin-right-fact {
	margin-right: 20px;
}

.margin-bottom-fact {
	margin-bottom: 5px;
}

.font-weight-bold-fact {
	font-weight: bold;
}
 
.text-align-right-fact {
	text-align: right;
}

.text-align-center-fact {
	text-align: center;
}

.page-container-fact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	background-color: #171717;
}

.page-main-title-fact {
	padding-top: 50px;
	width: 100%;
	text-align: center;
}


/* ........................................ */
/* TABLET VERSION */
/* .................... */
/* .................... */

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */


/* ........................................ */
/* DESKTOP VERSION */
/* ............... */
/* ............... */

@media screen and (min-width: 1280px) {
}

/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */