/* Base */
/* .... */
/* .... */

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Raleway-Regular;
	font-size: 62.5%; /* Base 10px */
}

img {
	width: 100%;
}

/* ........................................ */
/* MOBILE VERSION - Mobile first */
/* ............................. */
/* ............................. */

/* MENU */
/* .... */
.menu-container {
	display: flex;
	justify-content: space-between;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #373737;
	color: #ffda2a;
}

.menu-icon {
	margin-right: 10px;
}

.menu-button {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none;
	background-color: #ffda2a;
	color: #171717;
	border-radius: 40px;
	font-weight: 700;
	font-size: 15px;
}


/* HOME PAGE */
/* ......... */

/* Hero */
.hero {
	position: relative;
}

.hero-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(56, 66, 73, 0.5);
}

.hero-text {
	padding-top: 20%;
	margin-left: 5%;
	margin-bottom: 10%;
	color:white;
	font-size: 2.3em;
}

.hero-button-primary {
	margin-left: 5%;
}

.hero-button-secondary {
	margin-left: 10px;
}

/* Playlist */
.playlist-container {
	border: 1px solid green;
}

.playlist {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #373737;
	color: white;
	text-align: center;
	border-bottom: 1px solid #bfbcbc;
}


/* Footer */
.main-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #373737;
	color: white;
	text-align: center;
}


/* State (state elements) */
/* ...................... */
/* ...................... */

.light-button-fact:hover {
	background-color: #d8d8d8;
	color: #373737;
}

.default-button-fact:hover {
	background-color: #ffda2a;
	color: #373737;
}  

/* Factored */
/* ........ */
/* ........ */

.font-size-default-fact {
	font-size: 1.8em;
}

.color-tertiary-fact {
	color: #bfbcbc;
}

.default-button-fact {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: #373737;
	color: white;
	border-radius: 40px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.2s;
}  

.light-button-fact {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	background-color: white;
	color: #373737;
	border-radius: 40px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.2s;
}

.margin-bottom-fact {
	margin-bottom: 5px;
}

/* ........................................ */
/* TABLET VERSION */
/* .................... */
/* .................... */

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */


/* ........................................ */
/* DESKTOP VERSION */
/* ............... */
/* ............... */

@media screen and (min-width: 1280px) {
}

/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */